.mui-scroll-wrapper {
  top: 45px;
  bottom: 1.2rem;
}
// 退货商品信息部分样式
.settlement-good-message {
  margin-top: 0.1rem;
  padding: 0 0.3rem;
  height: 3rem;
  background-color: #fff;
  display: flex;
  .settlement-good-img {
    height: 3rem;
    width: 3rem;
    img {
      width: 3rem;
      height: 3rem;
      text-align: center;
    }
  }
  .settlement-good-name-price {
    flex: 1;
    height: 2rem;
    .good-name {
      height: 2rem;
      overflow: hidden;
      font-size: 0.38rem;
      color: #333333;
    }
    .good-price {
      height: 1rem;
      line-height: 1rem;
      font-size: 0.38rem;
      color: #666666;
      .float-left {
        color: #000000;
      }
    }
  }
}
//换货原因换货说明部分样式
.exchange-goods {
  margin-top: 0.15rem;
  background-color: #fff;
  padding: 0 0.3rem;
  .reason {
    height: 1.173333rem;
    border-bottom: 1px solid #f7f5f4;
    line-height: 1.173333rem;
    display: flex;
    justify-content: space-between;
    & > span {
      color: #000000;
      font-size: 0.38rem;
    }
    .select-exchange-goods-reason {
      display: flex;
      & > div {
        height: 1.173333rem;
        span {
          font-size: 0.38rem;
          color: #666666;
        }
        .mui-icon {
          font-size: 0.5rem;
        }
      }
    }
  }
  .explain {
    height: 1.173333rem;
    line-height: 1.173333rem;
    display: flex;
    div {
      width: 2.5rem;
      font-size: 0.38rem;
      line-height: 1.173333rem;
    }
    input {
      height: 1.173333rem;
      outline: none;
      width: 7rem;
      border: 0;
      margin: 0;
      font-size: 0.38rem;
      padding: 0;
    }
  }
}
// 填写收货地址部分样式
.address {
  margin-top: 0.15rem;
  padding: 0 0.3rem;
  background-color: #fff;
  .address-message {
    display: flex;
    height: 1.173333rem;
    div {
      width: 2.5rem;
      font-size: 0.38rem;
      line-height: 1.173333rem;
    }
    input {
      flex: 1;
      outline: none;
      border: 0;
      margin: 0;
      padding: 0;
      font-size: 0.38rem;
      color: #666666;
    }
  }
  .reason {
    height: 1.173333rem;
    border-bottom: 1px solid #f7f5f4;
    line-height: 1.173333rem;
    display: flex;
    justify-content: space-between;
    & > span {
      color: #000000;
      font-size: 0.38rem;
    }
    .select-exchange-goods-reason {
      display: flex;
      & > div {
        height: 1.173333rem;
        span {
          font-size: 0.38rem;
          color: #666666;
        }
        .mui-icon {
          font-size: 0.5rem;
        }
      }
    }
  }
  .detail-address {
    display: flex;
    min-height: 1.173333rem;
    div {
      width: 2.5rem;
      line-height: 1.173333rem;
      min-height: 1.173333rem;
      font-size: 0.38rem;
    }
    textarea {
      border: 0;
      flex: 1;
      min-height: 1.173333rem;
      padding: 0;
      margin: 0;
      font-size: 0.38rem;
      color: #666666;
    }
  }
}
/* 图片上传部分样式 */
.img-upload {
  height: 3.76rem;
  padding: 0 0.3rem;
  margin-top: 0.15rem;
  background-color: #ffffff;
}
.img-upload .img-container {
  display: flex;
  flex-wrap: wrap;
}
.img-upload #img-container {
  display: flex;
  flex: wrap;
}
.img-upload #img-container > img {
  width: 2.133333rem;
  height: 2.133333rem;
  margin-right: 0.2rem;
}
.img-upload p {
  color: #333333;
  font-size: 16px;
  padding: 0.3rem 0;
  margin: 0;
}
.img-upload .square {
  height: 2.133333rem;
  width: 2.133333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px dashed #999999;
  text-align: center;
}
.img-upload .square .iconfont {
  height: 0.8rem;
  line-height: 0.8rem;
  color: #999999;
  font-size: 0.8rem;
}
.img-upload .square p {
  padding: 0;
  font-size: 12px;
  color: #999999;
  margin: 0;
}
//   底部提交按钮样式
.bottom-button {
  position: fixed;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  width: 100%;
  font-size: 0.4rem;
  z-index: 20;
  color: #fff;
  background-color: #30b8fe;
  bottom: 0;
  left: 0;
}
.submit-button {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.2rem;
}
// 遮罩层样式
#mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: #000000;
  opacity: 0.3;
  z-index: 15;
}

// 弹出框样式
.popup {
  position: absolute;
  bottom: -7rem;
  height: 7rem;
  transition: all 0.5s;
  background-color: #ffffff;
  width: 10rem;
  .popup-title {
    padding: 0 0.3rem;
    line-height: 1.173333rem;
    font-size: 0.45rem;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #ededed;
  }
  .reason-list {
    display: flex;
    padding: 0 0.3rem;
    border-bottom: 1px solid #ededed;
    color: #000000;
    height: 1.173333rem;
    align-items: center;
    justify-content: space-between;
  }
  .select-change-goods-reason {
    color: #30b8fe;
  }
}
