* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  padding-top: 45px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
//action-bar  无搜索框样式
.action-bar-no-search {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  height: 44px;
  width: 100%;
  display: flex;
  background-color: #39ace5;
  padding: 0 0.3rem;
  border-bottom: 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  .title-center {
    flex: 1;
    text-align: center;
    line-height: 44px;
    font-weight: 500;
    font-size: 0.43rem;
    color: #fff;
  }
  .title-left {
    width: 2rem;
    height: 100%;
    text-align: left;
    display: flex;
    div {
      height: 44px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: left;
      .mui-icon-back {
        color: #ffffff;
        font-size: 0.8rem;
      }
      span {
        font-size: 0.48rem;
        margin-right: 5px;
        color: #fff;
      }
      img {
        margin-right: 0.2rem;
        height: 0.5rem;
      }
    }
  }
  .title-right {
    visibility: hidden;
    width: 2rem;
    height: 100%;
    display: flex;
    line-height: 44px;
    text-align: right;
    div {
      height: 44px;
      flex: 1;
      text-align: right;
      line-height: 44px;
      img {
        width: 0.6rem;
      }
    }
  }
}
.mui-fullscreen {
  top: 45px;
}
/*toast信息提示*/
.mui-toast-container {
  bottom: 50% !important;
}
.mui-toast-message {
  background: url(/app/themes/default/images/toast.png) no-repeat center 10px
    #000;
  opacity: 0.6;
  color: #fff;
  width: 180px;
  padding: 70px 5px 10px 5px;
}
.mui-icon {
  font-size: 0.45rem;
  vertical-align: middle;
}
/* 轮播图片部分样式 */

.mui-slider-indicator .mui-indicator {
  margin: -0.2rem 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: none;
}
