/*分类选择部分样式*/

.category {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 0.3rem 0;
  .every-category {
    width: 2.5rem;
    height: 2.3rem;
    .bgk {
      height: 1.28rem;
      width: 1.28rem;
      line-height: 1.28rem;
      background-image: url(../img/ellipse4.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      img {
        text-align: center;
        vertical-align: middle;
        height: 0.7rem;
      }
    }
    .text {
      margin-top: 0.1rem;
      font-size: 0.4rem;
      color: #000000;
      text-align: center;
    }
  }
}

/* 视频播放区域样式 */

.video {
  width: 100%;
  padding: 0 0.5rem;
  background-color: #ffffff;

  .text-video {
    height: 1.066667rem;
    text-align: center;
    line-height: 1.066667rem;
    letter-spacing: 5px;
    font-size: 0.4rem;
    color: #000000;
  }
  .play-video {
    position: relative;
    background-color: #000000;
    padding: 10px 0;
    .play {
      width: 9rem;
      height: 2.573333rem;
    }

    .play-button {
      background: url(../img/ellipse9.png) 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      left: 45%;
      top: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .video-message {
    height: 1rem;
    font-size: 0.4rem;
    letter-spacing: 5px;
    line-height: 1rem;
    .video-comment-love-it {
      margin-right: 0.3rem;
      display: flex;
      align-items: center;
      img {
        width: 0.5rem;
        margin-right: 0.2rem;
      }
    }
  }
}
//活动区域
.boutique {
  background-color: #fff;
  padding: 0 0.3rem;
  .title-left {
    width: 100%;
    font-size: 0.4rem;
    line-height: 1.173333rem;
    border-bottom: 1px solid #ededed;
  }
  .content {
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
    .every-last-boutique {
      width: 3rem;
      img {
        width: 100%;
        height: 2.9rem;
      }
      p {
        margin: 0;
        font-size: 0.34rem;
        padding: 0;
        text-align: center;
      }
    }
  }
}
//精品推荐区域样式
.boutique-area {
  padding: 0 0.3rem;
  background-color: #fff;
  .title {
    border-bottom: 1px solid #ededed;
    height: 1.173333rem;
    display: flex;
    .title-left {
      width: 2rem;
      font-size: 0.4rem;
      line-height: 1.173333rem;
    }
    .title-right {
      flex: 1;
      line-height: 1.173333rem;
      text-align: right;
      font-size: 0.38rem;
      color: #999999;
    }
  }
  .boutique-message {
    position: relative;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
    .boutique-good {
      width: 3.3rem;
      margin-right: 0.4rem;
      display: inline-block;
      img {
        width: 100%;
        height: 2.5rem;
        border: 0;
      }
      p {
        padding: 0;
        line-height: normal;
        margin: 0;
        text-align: center;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
//新闻部分样式
.news-area {
  padding: 0 0.3rem;
  background-color: #fff;
  .title {
    border-bottom: 1px solid #ededed;
    height: 1.173333rem;
    display: flex;
    .title-left {
      width: 2rem;
      font-size: 0.4rem;
      line-height: 1.173333rem;
    }
    .title-right {
      flex: 1;
      line-height: 1.173333rem;
      text-align: right;
      font-size: 0.38rem;
      color: #999999;
    }
  }
  .news-message {
    margin-top: 0.3rem;
    .news {
      height: 0.8rem;
      display: flex;
      align-items: center;
      .news-icon {
        width: 0.8rem;
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.32rem;
        color: #f39800;
        border: 2px solid #f39800;
        border-radius: 3px;
        text-align: center;
      }
      .news-title {
        flex: 1;
        line-height: 0.8rem;
        color: #333333;
        padding: 0 0.3rem;
        font-size: 0.38rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
// 保险部分样式
.all {
  width: 10rem;
  padding: 0 0.3rem;
  background: #ffffff;
  .car-money {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .car-money-common {
      width: 2.9rem;
      height: 4.2rem;
      background: #faf9f7;
      img {
        width: 2.8rem;
        height: 2.8rem;
      }
      .car-money-common-text {
        font-size: 0.38rem;
        color: #000000;
        text-align: center;
      }
      .common-button {
        width: 2.3rem;
        height: 0.7rem;
        border: 2px solid #f39800;
        border-radius: 4px;
        font-size: 0.38rem;
        color: #f39800;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

/* 商品分区部分样式 */

.good-classification {
  height: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.38rem;
  align-items: center;
  margin: 0.1rem 0;
  img {
    height: 0.4rem;
    margin-left: 0.2rem;
  }
  .more {
    position: relative;
    width: 1.3rem;
    color: #f39800;

    div {
      line-height: 1.2rem;
      span {
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}

/* 商品列表部分样式 */

.good-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .good {
    width: 48%;
    .good-img {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      margin: 0;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .good-message {
    height: 1rem;
    font-size: 0.4rem;
    margin: 0.1rem 0;
    line-height: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .good-price {
    height: 0.7rem;
    font-size: 0.5rem;
    font-weight: bold;
    color: #fd0006;
  }
}

/* 弹出框样式 */
/* 弹出框样式 */
.out-div {
  color: #000;
  font-size: 0.4rem;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  z-index: 1000;
  width: 3.5rem;
  display: none;
  .arrow {
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 0.5rem;
  }
  .popup-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.3rem;
    span {
      font-size: 0.7rem;
      margin-left: 0.2rem;
    }
    div {
      font-size: 0.4rem;
      width: 2rem;
      margin-right: 0.3rem;
      text-align: center;
    }
  }
}

.arrow {
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 0.5rem;
}

.popup-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.4rem;
  img {
    width: 0.7rem;
    margin-left: 0.2rem;
  }
  div {
    font-size: 0.5rem;
    width: 3rem;
    margin-right: 0.5rem;
    text-align: center;
  }
}

/* 遮罩层样式 */

#shade {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  display: none;
  top: 0;
  z-index: 500;
  left: 0;
}
// 自定义滚动样式左右滑动
#mui-scroll-wrapper {
  min-height: 4rem;
  .mui-scroll {
    min-height: 4rem;
  }
}
