.address {
  min-height: 2rem;
  background-color: #ffffff;
  padding: 0 0.3rem;
  display: flex;
  .address-left {
    height: 2rem;
    width: 8.5rem;
    font-size: 0.4rem;
    .address-name-phone {
      height: 1rem;
      color: #333333;
      line-height: 1rem;
    }
    .address-location {
      min-height: 1rem;
      line-height: 1rem;
    }
  }
  .address-right {
    flex: 1;
    line-height: 2rem;
    text-align: right;
  }
}
.settlement-good {
  height: 3.8rem;
  margin-top: 0.3rem;
  background-color: #ffffff;
  padding: 0 0.3rem;
  .shop-name {
    height: 0.8rem;
    width: 100%;
    line-height: 0.8rem;
    font-size: 0.35rem;
    color: #333333;
    img {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 3px;
      vertical-align: middle;
    }
  }
  .settlement-good-message {
    height: 3rem;
    display: flex;
    .settlement-good-img {
      height: 3rem;
      width: 3rem;
      img {
        width: 2.6rem;
        height: 2.6rem;
        text-align: center;
      }
    }
    .settlement-good-name-price {
      flex: 1;
      height: 3rem;
      .good-name {
        height: 2rem;
        font-size: 0.38rem;
        color: #333333;
      }
      .good-price {
        height: 1rem;
        line-height: 1rem;
        font-size: 0.38rem;
        color: #666666;
        .float-left {
          color: #000000;
        }
      }
    }
  }
}
.discount {
  margin-top: 0.3rem;
  height: 1.173333rem;
  background-color: #ffffff;
  padding: 0 0.3rem;
  display: flex;
  justify-content: space-between;
  .discount-left {
    height: 1.173333rem;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      font-size: 0.38rem;
      color: 666666;
      //    line-height: 1.173333rem;
    }
    .usable-discount-button {
      margin-left: 0.5rem;
      height: 0.7rem;
      line-height: 0.7rem;
      background: linear-gradient(to right, #f6812f, #fd5b29);
      color: #ffffff;
      font-size: 0.38rem;
      border-radius: 0.1rem;
      padding: 0 0.1rem;
    }
  }
  .discount-right {
    display: flex;
    align-items: center;
    .mui-icon {
      line-height: 0;
    }
  }
}
.price-discount-message {
  margin-top: 0.3rem;
  background-color: #ffffff;
  padding: 0 0.3rem;
  div {
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    color: #999999;
    .float-right {
      color: #f87807;
    }
  }
  .good-price {
    .float-left {
      color: #666666;
    }
    .float-right {
      color: #333333;
    }
  }
}
.bottom-nav {
  height: 1.306667rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  font-size: 0.4rem;
  .bottom-nav-left {
    padding-left: 0.3rem;
    color: #ffffff;
    flex: 1;
    background-color: #333333;
    height: 1.306667rem;
    line-height: 1.306667rem;
    .payable {
      color: #f87807;
      font-size: 0.45rem;
    }
  }
  .bottom-nav-right {
    width: 2.266667rem;
    height: 1.306667rem;
    text-align: center;
    font-size: 0.45rem;
    color: #ffffff;
    line-height: 1.306667rem;
    background: linear-gradient(to bottom right, #f6822f, #fd5a28);
  }
}
