<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/mui.min.js"></script>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper-4.2.2.min.css">
    <link rel="stylesheet" href="../css/buyCart.css">
    <script src="../js/vue.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="mui-scroll-wrapper" id="app">
        <div class="mui-scroll">
            <!-- 轮播图 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="img in imgs">
                        <img v-bind:src="http_url+img.pic" style="width: 10rem" alt="">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="screen">
                <div class="all" @tap="get_all()">
                    <span v-bind:class="{active:all}">默认排序</span>
                </div>
                <div class="price" @tap="select_price()">
                    <span>价格</span>
                    <div class="common-container">
                        <div class="top">
                            <strong class="mui-icon mui-icon-arrowup" v-bind:class="{active:is_price==1}"></strong>
                        </div>
                        <div class="bottom">
                            <strong class="mui-icon mui-icon-arrowdown" v-bind:class="{active:is_price==0}"></strong>
                        </div>
                    </div>
                </div>
                <div class="time" @tap="select_time()">
                    <span>时间</span>
                    <div class="common-container">
                        <div class="top">
                            <strong class="mui-icon mui-icon-arrowup" v-bind:class="{active:is_time==1}"></strong>
                        </div>
                        <div class="bottom">
                            <strong class="mui-icon mui-icon-arrowdown" v-bind:class="{active:is_time==0}"></strong>
                        </div>
                    </div>
                </div>
                <div class="kilometre" @tap="select_kilometre()">
                    <span>公里</span>
                    <div class="common-container">
                        <div class="top">
                            <strong class="mui-icon mui-icon-arrowup" v-bind:class="{active:is_kilometre==1}"></strong>
                        </div>
                        <div class="bottom">
                            <strong class="mui-icon mui-icon-arrowdown" v-bind:class="{active:is_kilometre==0}"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-region">
                <div v-cloak class="cart-region-every-last" v-for="x in cars" @tap="jump_to_detail(x.bid)">
                    <div class="left">
                        <img v-bind:src="http_url+x.pic" alt="">
                    </div>
                    <div class="right">
                        <p>{{x.title}}</p>
                        <p>
                            <span>2014-6</span>/
                            <span>{{x.bxlc}}万公里</span>
                        </p>
                        <p class="price">
                            <span>￥{{x.price}}</span> 万</p>
                        <div>在线支付</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/swiper-4.2.2.min.js"></script>
    <script src="../js/md5.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/buyCart.js"></script>
</body>

</html>