<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/mui.min.js"></script>
    <script src="../js/flexible.js"></script>
    <script src="../js/vue.min.js"></script>
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/cartDetail.css">
    <title>Document</title>
</head>

<body>
    <div class="action-bar-no-search">
        <div class="title-left mui-action-back">
            <div>
                <span class="mui-icon mui-icon-back">

                </span>
                <span>

                </span>
            </div>
        </div>
        <div class="title-center">
            车辆详情
        </div>
        <div class="title-right">
            <div class="title-right-left">

            </div>
            <div class="title-right-right">

            </div>
        </div>
    </div>
    <div class="container" id="container">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <!--这里放置真实显示的DOM内容-->
                <div class="mui-slider">
                    <div class="mui-slider-group">
                        <div class="mui-slider-item">
                            <a href="#">
                                <img style="height: 7rem" v-bind:src="http_url+cartDetail.pic" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="car-detail-head ">
                    <p>{{cartDetail.title}}</p>
                    <div>厂家指导价：
                        <span>{{cartDetail.price}}万</span>
                    </div>
                </div>
                <!-- 车辆信息部分 -->
                <div class="car-tab " v-if="cartDetail.source_type==0" v-html="content.content">

                </div>
                <div class="car-detail" v-if="cartDetail.source_type==1">
                    <div class="car-message">
                        <p style="padding: .2rem 0;margin:0;border-bottom: 1px solid #ededed;color:red;font-size: .4rem">车辆信息</p>
                        <div>
                            <div style="width: 2rem;line-height: .8rem;border-bottom: 1px solid #ededed" class="float-left">
                                车辆性质 ：
                            </div>
                            <div style="margin-left:2rem;line-height: .8rem;border-bottom: 1px solid #ededed;text-align: right;">
                                {{cartDetail.clxz}}
                            </div>
                        </div>
                        <div>
                            <div style="width: 2rem;line-height: .8rem;border-bottom: 1px solid #ededed" class="float-left">
                                表显里程 ：
                            </div>
                            <div style="margin-left:2rem;line-height: .8rem;border-bottom: 1px solid #ededed;text-align: right;">
                                {{cartDetail.bxlc}}万公里
                            </div>
                        </div>
                        <div>
                            <div style="width: 2rem;line-height: .8rem;border-bottom: 1px solid #ededed" class="float-left">
                                登记日期 ：
                            </div>
                            <div style="margin-left:2rem;line-height: .8rem;border-bottom: 1px solid #ededed;text-align: right;">
                                {{cartDetail.djrq}}
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: 1rem;padding:0 .2rem;border: 1px solid #ededed;">
                            车辆信息
                        </div>
                        <div class="two" style="border: 1px solid #efefef;border-left: 0">
                            参数
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            品牌
                        </div>
                        <div class="two">
                            {{cartDetail.b_name}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            车系
                        </div>
                        <div class="two">
                            {{cartDetail.b_name}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            车型
                        </div>
                        <div class="two">
                            {{cartDetail.t_name}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            VIN
                        </div>
                        <div class="two">
                            {{cartDetail.vin}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            车身颜色
                        </div>
                        <div class="two">
                            {{cartDetail.outside_color}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            内饰颜色
                        </div>
                        <div class="two">
                            {{cartDetail.inside_color}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            使用性质
                        </div>
                        <div class="two">
                            {{cartDetail.clxz}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            登记日期
                        </div>
                        <div class="two">
                            {{cartDetail.djrq}}
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            表显里程
                        </div>
                        <div class="two">
                            {{cartDetail.bxlc}}万公里
                        </div>
                    </div>
                    <div class="clear">
                        <div style="width: 3rem;line-height: .8rem;padding: 0 .2rem;border: 1px solid #ededed;border-top: 0">
                            车源描述
                        </div>
                        <div class="two">
                            <!-- 参数 -->
                        </div>
                    </div>
                    <div class="img-content">
                        <div v-for="img in cartDetail.images">
                            <p style="padding: .2rem 0;color: #000000;margin: 0;font-size: .4rem">{{img.type}}</p>
                            <img v-bind:src="http_url+img.url" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="func-btn clear ">
        <a href="#" class="float-left ">在线1元抵500</a>
        <a href="#" class="float-right ">更多方案</a>
    </div>
    <script src="../js/md5.js"></script>
    <script src="../js/common.js "></script>
    <script>
        var vm = new Vue({
            el: "#container",
            data: {
                cartDetail: {},
                content: {},
            }
        })
        var id;
        mui.plusReady(function () {
            id = plus.webview.currentWebview().good_id;
            mui.ajax(http_url + '/api.php/Buycar/details?bid=' + id, {
                dataType: 'json',
                type: 'get',
                timeout: 10000,
                headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/Buycar/details'), },
                success: function (data) {
                    if (data.status == 200) {
                        vm.cartDetail = data.data;
                        Vue.set(vm.content, "content", data.data.contents)
                    } else {
                        toast(data.message);
                    }
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；ss
                    console.log(errorThrown);
                }
            })
        })
        //初始化scroll
        mui(".mui-scroll-wrapper ").scroll({
            deceleration: 0.0005,
        })
        mui(".func-btn ").on("tap", ".float-left ", function () {
            if (user_token()) {
                mui.openWindow({
                    url: "paymentMessage.html",
                    id: "paymentMessage.html",
                    extras: {
                        bid: id  //扩展参数
                    }
                })
            } else {
                mui.confirm("您还未登录!", "万国提示", ['取消', '去登录'], function (e) {
                    if (e.index == 1) {
                        mui.openWindow({
                            url: "login.html",
                            id: "login.html"
                        })
                    }
                })
            }
        })
        mui(".func-btn ").on("tap", ".float-right ", function () {
            mui.confirm("请联系客服：400-0998-058", "万国提示", ["取消", "确认"], function (num) {
                if (num.index == 1) {
                    window.location.href = 'tel:400-0998-058';
                }
            });
        })
    </script>
</body>

</html>