<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/mui.min.js"></script>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/goodDetail.css">
    <title>Document</title>
</head>

<body>
    <div class="action-bar-no-search">
        <div class="title-left mui-action-back">
            <div>
                <span class="mui-icon mui-icon-back">

                </span>
                <span>

                </span>
            </div>
        </div>
        <div class="title-center">
            商品详情
        </div>
        <div class="title-right">
            <div class="title-right-left">
                <img src="" />
            </div>
            <div class="title-right-right">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div id="container" class="container" style="background-color: #F7F5F4;">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="mui-slider">
                    <div class="mui-slider-group">
                        <div class="mui-slider-item" v-for="img in goodMessage.goods_images">
                            <a href="#">
                                <img v-bind:src="http_url+img.pic" />
                            </a>
                        </div>
                    </div>
                    <div class="mui-slider-indicator">
                        <div class="mui-indicator mui-active"></div>
                        <div class="mui-indicator"></div>
                        <div class="mui-indicator"></div>
                        <div class="mui-indicator"></div>
                    </div>
                </div>
                <div class="good-message">
                    <div class="good-name-price">
                        <div class="top">
                            <div class="left">
                                <div>{{goodMessage.goods_name}}
                                </div>
                                <p>
                                    <span>￥</span>{{goodMessage.shop_price}}</p>
                            </div>
                            <!-- <div class="right" @tap="share()">
                            <div>
                                <img src="../img/share.png" alt="">
                            </div>
                            分享
                        </div> -->
                        </div>
                        <div class="bottom">
                            <div class="freight">
                                <div class="left">
                                    运费：
                                    <span>咨询客服</span>
                                </div>
                                <div class="center">
                                    月销
                                    <strong>{{goodMessage.sale_num}}</strong>笔
                                </div>
                                <div class="right">
                                    山西太原
                                </div>
                            </div>
                            <div class="true-yellow">
                                <div>
                                    <img src="../img/true-yellow.png" alt=""> 正品保障
                                </div>
                                <div>
                                    <img src="../img/true-yellow.png" alt=""> 急速退款
                                </div>
                                <div>
                                    <img src="../img/true-yellow.png" alt=""> 运费险
                                </div>
                                <!-- <div>
                                    <span class="mui-icon mui-icon-arrowright"></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="list-message">
                    <div class="parpmeter" style="border-bottom: 1px solid #F7F5F4">
                        <span>
                            产品参数
                        </span>
                        <span class="mui-icon mui-icon-arrowright">

                        </span>
                    </div>
                    <div class="parpmeter">
                        <span>
                            适用车型
                        </span>
                        <span class="mui-icon mui-icon-arrowright">

                        </span>
                    </div>
                </div> -->
                </div>
                <div class="common">
                    <div class="line">

                    </div>
                    <div class="message">
                        <span class="mui-icon mui-icon-chatbubble">

                        </span>
                        <span>
                            详情
                        </span>
                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="good-name">
                    {{goodMessage.goods_remark}}
                </div>
                <div class="good-text">
                    <div class="good">
                        商品信息
                    </div>
                </div>
                <div>
                    <img v-for="img in goodMessage.goods_images" v-bind:src="http_url+img.pic" style="width: 10rem;height: 100%" alt="">
                </div>
                <div id="good-message-list">

                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="left">
                <div>
                    <p>
                        <span class="iconfont icon-kefu font"></span>
                    </p>
                    <p>
                        客服
                    </p>
                </div>
                <div @tap="collections($event)" id="collection">
                    <p>
                        <span class="iconfont icon-shoucang1 font"></span>
                    </p>
                    <p class="text">
                        收藏
                    </p>
                </div>
            </div>
            <div class="center">
                加入购物车
            </div>
            <div class="right">
                立刻购买
            </div>
            <!-- 弹出选择商品分类框 -->
            <div id="popup" class="popup">
                <div class="popup-top">
                    <div class="popup-img">
                        <img v-bind:src="http_url+goodMessage.pic" alt="">
                    </div>
                    <div class="popup-good-message">
                        <div class="popup-good-name">
                            {{goodMessage.goods_name}}
                        </div>
                        <div class="popup-price-specification">
                            <div class="popup-price">
                                ￥{{good_spec.goodMessage?good_spec.price:goodMessage.shop_price}}
                                <span style="margin-left: 1.5rem">库存：{{goodData.sec_list.spec?good_spec.store_count:goodMessage.store_num}}</span>
                            </div>
                            <div class="popup-specification" v-if="goodData.sec_list.spec">
                                {{good_spec.spec_names?good_spec.spec_names:'请选择商品规格'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-wrapper">
                    <div class="mui-scroll">
                        <div class="popup-center">
                            <div v-for="(spec,index) in goodData.sec_list.spec">
                                <div class="good-attribute">
                                    {{spec.spec_name}}：
                                </div>
                                <div class="good-attribute-list">
                                    <div v-for="detail in spec.goods_spec_item" @tap="selectType(index,detail.id,$event)" class="good-attribute-list-every-last">
                                        {{detail.item}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buy-number">
                            <div class="buy-number-text">
                                购买数量
                            </div>
                            <div class="number">
                                <div class="add">
                                    <span class="mui-icon mui-icon-plusempty">

                                    </span>
                                </div>
                                <input v-model="buy_num" class="buy-number-input" type="text">

                                <div class="remove">
                                    <span>
                                        －
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-bottom">
                    <div class="add-shoppingcart" @tap="add_to_shopping_cart()">
                        加入购物车
                    </div>
                    <div class="buy">
                        立刻购买
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 遮罩层 -->
    <div id="mask">

    </div>
    <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common.js"></script>
    <script>
        var vm = new Vue({
            el: "#container",
            data: {
                goodMessage: { goods_images: [] },
                goodData: { sec_list: { spec: [] } },
                buy_num: 1,
                good_spec: {}
            },
            methods: {
                resetData: function () {//重置数据
                    Object.assign(this.$data, goodMessage);
                }
            }
        })

        var gallery = mui('.mui-slider');
        gallery.slider({
            interval: 2000//自动轮播周期，若为0则不自动播放，默认为0；
        });
        var collection_good = document.getElementById("collection");
        //在details页面接收id参数
        var firstImage;                                                             //轮播图的第一张图片
        var lastImage;                                                              //轮播图的最后一张图片
        window.addEventListener('goodId', function (event) {
            //获得事件参数
            var id = event.detail.id;
            mui.ajax(http_url + '/api.php/Mall/details?id=' + id, {
                dataType: 'json',
                type: 'get',
                timeout: 10000,
                headers: { 'Content-Type': 'application/json' },
                success: function (data) {
                    vm.goodMessage = data.data.info;
                    firstImage = data.data.info.goods_images[0];
                    lastImage = data.data.info.goods_images.pop();
                    vm.goodData = data.data;
                    if (data.data.addFav == 1) {
                        collection_good.querySelector(".text").innerText = "已收藏";
                        collection_good.querySelectorAll("p")[0].style.color = "red";
                        collection_good.querySelectorAll("p")[1].style.color = "red";
                    } else {
                        collection_good.querySelector(".text").innerText = "收藏";
                        collection_good.querySelectorAll("p")[0].style.color = "#666";
                        collection_good.querySelectorAll("p")[1].style.color = "#666";
                    }
                    document.getElementById("good-message-list").innerHTML = vm.goodMessage.goods_content;
                    console.log(vm.goodMessage);
                },
                error: function (xhr, type, errorThrown) {
                    //异常处理；ss
                    console.log(errorThrown);
                }
            });
            console.log(http_url + '/Mall/details?id=' + id);

        });
        //点击选择商品分类
        var rememberId = [];
        function selectType(index, id, e) {
            if (e.currentTarget.parentNode.index == index) {
                e.currentTarget.parentNode.childNodes;
                for (var i = 0; i < e.currentTarget.parentNode.childNodes.length; i++) {
                    e.currentTarget.parentNode.childNodes[i].classList.remove("active");
                }
                e.currentTarget.classList.add("active");
            } else {
                e.currentTarget.parentNode.index = index;
                e.currentTarget.classList.add("active");
            }
            rememberId[index] = id;
            var text = "";
            for (var j = 0; j < rememberId.length; j++) {
                if (j + 1 == rememberId.length) {
                    text += rememberId[j];
                } else {
                    text += rememberId[j] + "_"
                }
            }
            if (vm.goodData.sec_list.spec.length == rememberId.length) {
                vm.good_spec = vm.goodData.sec_list.spec_val.find(function (every) {
                    return every.spec_ids == text;
                })
            }
        }
        function getHttp() {
            console.log(document.querySelector(".whd").src);
        }

        mui.plusReady(function () {

        })
        //初始化input value值;
        var popup = document.getElementById("popup");
        var mask = document.getElementById("mask");
        // 购买数量添加
        mui(".popup").on("tap", ".add", function () {
            if (vm.buy_num >= vm.good_spec.store_count) {
                toast("库存不足")
            } else {
                vm.buy_num++;
            }
        })
        //购买数量减少
        mui(".popup").on("tap", ".remove", function () {
            if (vm.buy_num > 1) {
                vm.buy_num--;
            }
        })

        //点击选择收藏商品
        function collections(e) {
            var eTarget = e.currentTarget;
            var id = vm.goodMessage.goods_id;
            var token = localStorage.getItem("token");
            if (!token) {
                toast("请登录");
                return;
            }
            if (e.currentTarget.querySelector(".text").innerText == "收藏") {
                mui.ajax(http_url + '/api.php/Mall/add_collect?id=' + id + '&token=' + token, {
                    dataType: 'json',
                    type: 'get',
                    timeout: 10000,
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        toast(data.message);
                        console.log(e.currentTarget);
                        eTarget.querySelector(".text").innerText = "已收藏";
                        eTarget.querySelectorAll("p")[0].style.color = "red";
                        eTarget.querySelectorAll("p")[1].style.color = "red";

                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；ss
                        console.log(errorThrown);
                    }
                })
            } else {
                mui.ajax(http_url + '/api.php/Mall/del_collect?id=' + id + '&token=' + token, {
                    dataType: 'json',
                    type: 'get',
                    timeout: 10000,
                    headers: { 'Content-Type': 'application/json' },
                    success: function (data) {
                        toast(data.message);
                        eTarget.querySelector(".text").innerText = "收藏";
                        eTarget.querySelectorAll("p")[0].style.color = "#666";
                        eTarget.querySelectorAll("p")[1].style.color = "#666";
                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；ss
                        console.log(errorThrown);
                    }
                })
            }


        }

        //跳转到结算页面
        var url;
        mui(".popup-bottom").on("tap", ".buy", function () {
            var settlementPage = plus.webview.getWebviewById("settlementPage.html");
            if (settlementPage) {
                plus.webview.show("settlementPage.html");
            } else {
                mui.openWindow({
                    url: "settlementPage.html",
                    id: "settlementPage.html",
                    extras: {
                        goodId: vm.goodMessage.goods_id,
                        goodNum: vm.buy_num,
                        spec_ids: vm.good_spec.spec_ids ? vm.good_spec.spec_ids : "",
                        spec_names: vm.good_spec.spec_names ? vm.good_spec.spec_names : "",
                        one: true,
                    },
                    createNew: true
                })
            }
            // console.log(JSON.stringify(mui.webview.getCur))
        })
        mui('.mui-scroll-wrapper').scroll({
            deceleration: 0.0005,
            indicators: true
        });
        mui('.scroll-wrapper').scroll({
            deceleration: 0.0005,
            indicators: true
        });
        mui(".bottom-nav").on("tap", ".center", function () {
            popup.style.bottom = 0;
            mask.style.display = "block";
        })
        mui(".bottom-nav").on("tap", ".right", function () {
            popup.style.bottom = 0;
            mask.style.display = "block";
        })
        mask.addEventListener("tap", function () {
            popup.style.bottom = -14 + "rem";
            mask.style.display = "none";
        })
        //添加商品到购物车
        function add_to_shopping_cart() {
            if (user_token()) {
                var token = localStorage.getItem("token");
                if (!vm.goodData.sec_list.spec) {
                    mui.ajax(http_url + '/api.php/Order/addcart?token=' + token, {
                        dataType: 'json',
                        type: 'post',
                        data: {
                            goods_id: vm.goodMessage.goods_id,
                            num: vm.buy_num,
                            // spec_ids:  "",
                            // spec_names:  ""
                        },
                        timeout: 10000,
                        success: function (data) {
                            toast(data.message);
                        },
                        error: function (xhr, type, errorThrown) {
                            //异常处理；ss
                            console.log(errorThrown);
                        }
                    })
                } else if (!vm.good_spec.id) {
                    toast("请选择商品规格")
                } else if (vm.buy_num > vm.good_spec.store_count) {
                    toast("库存不足")
                } else {
                    mui.ajax(http_url + '/api.php/Order/addcart?token=' + token, {
                        dataType: 'json',
                        type: 'post',
                        data: {
                            goods_id: vm.goodMessage.goods_id,
                            num: vm.buy_num,
                            spec_ids: vm.good_spec.spec_ids,
                            spec_names: vm.good_spec.spec_names
                        },
                        timeout: 10000,
                        success: function (data) {
                            toast(data.message);
                        },
                        error: function (xhr, type, errorThrown) {
                            //异常处理；ss
                            console.log(errorThrown);
                        }
                    })
                }
            } else {
                mui.confirm("您还未登录!", "万国提示", ['去登录', '取消'], function (e) {
                    if (e.index == 0) {
                        mui.openWindow({
                            url: "login.html",
                            id: "login.html"
                        })
                    }
                })
            }
        }
    </script>
</body>

</html>