<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/indexIndex.css">
    <link rel="stylesheet" href="../css/swiper-4.2.2.min.css">
    <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <title>首页</title>
</head>
<style>
    .swiper-container {
        width: 10rem;
    }
</style>

<body>
    <div id="app" class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <!-- 轮播图 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="img in imgs">
                        <img v-bind:src="http_url+img.pic" style="width: 10rem" alt="">
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <!--类别选项部分-->
            <div class="category">
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse8.png)">
                        <img style="height: 0.5rem" src="../img/car.png" />
                    </div>
                    <div class="text">我要买车</div>
                </div>
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse6.png)">
                        <img src="../img/second-hand.png" />
                    </div>
                    <div class="text">我要卖车</div>
                </div>
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse2.png)">
                        <img src="../img/shoping.png" />
                    </div>
                    <div class="text">汽配商城</div>
                </div>
                <div class="every-category">
                    <div class="bgk">
                        <img src="../img/credit.png" />
                    </div>
                    <div class="text">资讯中心</div>
                </div>
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse7.png)">
                        <img src="../img/car-kuaibao.png" />
                    </div>
                    <div class="text">分期计算</div>
                </div>
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse5.png)">
                        <img src="../img/automobile-center.png" />
                    </div>
                    <div class="text">保险计算</div>
                </div>
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse1.png)">
                        <img src="../img/automobile-insurance.png" />
                    </div>
                    <div class="text">汽车估价</div>
                </div>
                <div class="every-category">
                    <div class="bgk" style="background-image: url(../img/ellipse3.png)">
                        <img src="../img/llliegal.png" />
                    </div>
                    <div class="text">违章查询</div>
                </div>
            </div>
            <!-- 视频播放 -->
            <!-- <div class="video">
                <div class="text-video">
                    2017年01月01日万国电商拍卖会录像
                </div>
                <div class=play-video>
                    <div class="play-button">
                        <img src="../img/play.png" alt="">
                    </div>
                    <img src="../img/5.png" class="play" alt="">
                </div>
                <div class="video-message clearfloat">
                    1347次播放
                    <div class="video-comment-love-it float-right">
                        <img src="../img/love-it.png" alt=""> 3
                    </div>
                    <div class="video-comment-love-it float-right">
                        <img src="../img/comment.png" alt=""> 3
                    </div>
                </div>
            </div> -->
            <!-- 精品推荐 -->
            <div class="boutique-area">
                <div class="title">
                    <div class="title-left">
                        精品推荐
                    </div>
                    <div class="title-right" @tap="jump_buycar()">
                        <span>查看详情</span>
                        <span class="iconfont icon-gengduo1"></span>
                    </div>
                </div>
                <div class="boutique-message">
                    <div id="mui-scroll-wrapper" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                        <div class="mui-scroll">
                            <div class="boutique-good" v-cloak v-for="item in cars" @tap="jump_to_detail(item.bid)">
                                <img v-bind:src="item.pic">
                                <p>
                                    {{item.title}}
                                </p>
                                <p style="color: #f51212">￥ {{item.price}}万
                                </p>
                                <p style="font-size: .3rem;">
                                    {{item.djrq}} | {{item.bxlc}} 万公里
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--最新活动-->
            <div class="boutique">
                <div class="title-left">
                    最新活动
                </div>
                <div class="content">
                    <div class="every-last-boutique" @tap="jump_open_new_page('active1.html')">
                        <div>
                            <img src="../img/act1.png" alt="">
                        </div>
                        <p style="color: #000;">推荐好车源</p>
                        <p>优惠好礼等你拿</p>
                    </div>
                    <div class="every-last-boutique" @tap="jump_open_new_page('active2.html')">
                        <div>
                            <img src="../img/act2.png" alt="">
                        </div>
                        <p style="color: #000;">平台买二手车</p>
                        <p>送超值大礼包</p>
                    </div>
                    <div class="every-last-boutique" @tap="jump_open_new_page('active3.html')">
                        <div style="height:2.9rem;line-height: 2.9rem;">
                            <img src="../img/act3.png" style="height: 1.5rem;vertical-align: middle;" alt="">
                        </div>
                        <p style="color: #000;">平台买二手车</p>
                        <p>1元抵500</p>
                    </div>
                </div>
            </div>
            <!-- 新闻部分 -->
            <div class="news-area">
                <div class="title">
                    <div class="title-left">
                        养车常识
                    </div>
                    <div class="title-right" @tap="jump_open_new_page('news.html')">
                        <span>更多</span>
                        <span class="iconfont icon-gengduo1"></span>
                    </div>
                </div>
                <div class="news-message">
                    <div class="news" v-for="item in news" @tap="jump_to_new_detail(item.id)">
                        <div class="news-icon">
                            知识
                        </div>
                        <div class="news-title">
                            {{item.title}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="all">
                <!-- <div class="car-money">
                    <div class="car-money-common">
                        <img src="../img/index01.png" alt="">
                        <div class="car-money-common-text">大平台有保障</div>
                        <div class="common-button">
                            提交保证金
                        </div>
                    </div>
                    <div class="car-money-common">
                        <img src="../img/index02.png" alt="">
                        <div class="car-money-common-text">分期还款无压力</div>
                        <div class="common-button">
                            购车金融
                        </div>
                    </div>
                    <div class="car-money-common">
                        <img src="../img/index03.png" alt="">
                        <div class="car-money-common-text">车险种类介绍</div>
                        <div class="common-button">
                            万国车险
                        </div>
                    </div>
                </div> -->
                <!-- 商品分区头部 -->
                <div class="good-classification">
                    <img src="../img/fire.png" alt="">
                    <div style="font-size: .5rem">人气推荐</div>
                    <div class="more clearfloat" @tap="jump_to_shoppingMall()">
                        <div class="float-left">
                            <span>更多</span>
                        </div>
                        <div class="float-left">
                            <img src="../img/right.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 商品列表区域 -->
                <div class="good-area">
                    <div class="good" v-cloak v-for="item in goods" v-bind:id="item.goods_id" @tap="every_last_goods(item.goods_id)">
                        <div class="good-img" v-bind:style="{backgroundImage:'url(' + item.pic + ')'}">

                        </div>
                        <div class="good-message">
                            {{item.goods_name}}
                        </div>
                        <div class="good-price">
                            ￥{{item.shop_price}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="out-div" id="popup">
            <div class="arrow"></div>
            <div class="popup-list">
                <span class="iconfont icon-gouwuche"></span>
                <div>购物车</div>
            </div>
            <div class="popup-list">
                <span class="iconfont  icon-single"></span>
                <div>我的订单</div>
            </div>
            <div class="popup-list">
                <span class="iconfont icon-shoucang2"></span>
                <div>我的收藏</div>
            </div>
            <!-- <div class="popup-list">
            <span class="iconfont icon-richscan_icon"></span>
            <div>扫一扫</div>
        </div> -->
        </div>
        <div id="shade" onclick="shadeHidden()">

        </div>
    </div>
    <script src="../js/swiper-4.2.2.min.js"></script>
    <script src="../js/flexible.js"></script>
    <script src="../js/md5.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/httprequest.js"></script>
    <script src="../js/indexIndex.js"></script>
</body>

</html>