<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>

<body>
    <div class="action-bar-no-search">
        <div class="title-left mui-action-back">
            <div>
                <span class="mui-icon mui-icon-back">

                </span>
                <span>

                </span>
            </div>
        </div>
        <div class="title-center">
            登录
        </div>
        <div class="title-right">
            <div class="title-right-left">
            </div>
            <div class="title-right-right">
            </div>
        </div>
    </div>
    <div class="container" id="login">
        <div class="login">
            <img src="../img/login.png" alt="">
        </div>
        <!-- 用户输入区域 -->
        <div class="user-input">
            <div class="user-phone-number">
                <input v-model="userPhone" type="text" placeholder="请输入手机号">
            </div>
            <div class="user-phone-number">
                <input v-model="userPassword" type="password" placeholder="输入密码">
            </div>
            <div class="user-phone-verfication">
                <input v-model="code" type="text" placeholder="请输入验证码">
                <div class="send-verfication">
                    <img id="verification" src="https://api.wanguo.net/api.php/Login/verify" @tap="changeImg($event)" style="height: 100%;width: 100%"
                        alt="">
                    <!-- <img src="http://192.168.50.50:81/api.php/Login/verify" @tap="changeImg($event)" style="height: 100%;width: 100%" alt=""> -->
                </div>
            </div>
            <!-- <div class="user-phone-number">
                <input id="phone" type="text" placeholder="输入新密码">
            </div> -->
        </div>
        <!-- 登录按钮 -->
        <div class="login-button" @tap="logins()">
            <div>
                登录
            </div>
        </div>
        <div class="other-type-login">
            <div class="register">
                没有账号?我要注册
            </div>
            <div class="forget-password">
                忘记密码?
            </div>
        </div>
    </div>
    <script src="../js/flexible.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/md5.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>