<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/flexible.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/my.css">
    <title>我的</title>
</head>

<body>
    <div class="mui-scroll-wrapper" id="app">
        <div class="mui-scroll">
            <div class="user-message">
                <div class="user-header-img">
                    <img v-if="user_message?!user_message.headimg:!user_message" src="../img/userHeader.png" alt="">
                    <img v-if="user_message?user_message.headimg:user_message" v-bind:src="http_url+user_message.headimg" alt="">
                </div>
                <div class="user-name">
                    {{user_message?user_message.nickname:"请登录"}}
                </div>
                <div class="more">
                    <img src="../img/right-black.png" alt="">
                </div>
            </div>
            <div class="my-list">
                <div class="my-list-every-last">
                    <div class="left">
                        <img style="width:.5rem" src="../img/my1.png" alt="">
                    </div>
                    <div class="center">我的订单</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
                <div class="my-list-every-last">
                    <div class="left">
                        <img style="width:.5rem" src="../img/my4.png" alt="">
                    </div>
                    <div class="center">购车订单</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
                <div class="my-list-every-last">
                    <div class="left">
                        <img style="width:.5rem" src="../img/my2.png" alt="">
                    </div>
                    <div class="center">我的评价</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
                <div class="my-list-every-last">
                    <div class="left">
                        <img src="../img/my3.png" alt="">
                    </div>
                    <div class="center">我的收藏</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
                <div class="my-list-every-last">
                    <div class="left">
                        <img style="width: .45rem" src="../img/key.png" alt="">
                    </div>
                    <div class="center">修改密码</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
                <div class="my-list-every-last">
                    <div class="left">
                        <img src="../img/my5.png" alt="">
                    </div>
                    <div class="center">我的购物车</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
                <div class="my-list-every-last">
                    <div class="left">
                        <img src="../img/about.png" alt="">
                    </div>
                    <div class="center">关于我们</div>
                    <div class="right">
                        <img src="../img/right-black.png" alt="">
                    </div>
                </div>
            </div>
            <div class="sign-out">
                {{user_message?'退出':'登录'}}
            </div>
        </div>
    </div>
    <script src="../js/md5.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/my.js"></script>
</body>

</html>