<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/mui.min.js"></script>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/news.css">
    <title>信息中心</title>
</head>
<style>
    .news-content {
        padding: 0 .3rem;
        margin-top: .2rem;
        display: flex;
        background-color: #ffffff;
        align-items: center;
        height: 2.4rem;
    }

    /* .mui-scroll-wrapper {
        padding-top: 45px;
    } */

    .news-img {
        width: 3.2rem;
        height: 1.8rem;
    }

    .news-img>img {
        width: 100%;
        height: 100%;
    }

    .news-title {
        flex: 1;
        padding: .3rem .5rem;
        font-size: .4rem;
        color: #666;
    }
</style>

<body>
    <div id="app">
        <div class="action-bar-no-search">
            <div class="title-left mui-action-back">
                <div>
                    <span class="mui-icon mui-icon-back">

                    </span>
                    <span>

                    </span>
                </div>
            </div>
            <div class="title-center">
                资讯中心
            </div>
            <div class="title-right">
                <div class="title-right-left">

                </div>
                <div class="title-right-right">

                </div>
            </div>
        </div>
        <div class="container">
            <div class="mui-scroll-wrapper" id="pullrefresh">
                <div class="mui-scroll">
                    <div class="mui-slider">
                        <div class="mui-slider-group mui-slider-loop">
                            <div class="mui-slider-item mui-slider-item-duplicate">
                                <a href="#">
                                    <img src="../img/1.png" />
                                </a>
                            </div>
                            <div class="mui-slider-item">
                                <a href="#">
                                    <img src="../img/1.png" />
                                </a>
                            </div>
                            <div class="mui-slider-item">
                                <a href="#">
                                    <img src="../img/2.png" />
                                </a>
                            </div>
                            <div class="mui-slider-item">
                                <a href="#">
                                    <img src="../img/3.png" />
                                </a>
                            </div>
                            <div class="mui-slider-item">
                                <a href="#">
                                    <img src="../img/4.png" />
                                </a>
                            </div>
                            <div class="mui-slider-item mui-slider-item-duplicate">
                                <a href="#">
                                    <img src="../img/4.png" />
                                </a>
                            </div>
                        </div>
                        <div class="mui-slider-indicator">
                            <div class="mui-indicator mui-active"></div>
                            <div class="mui-indicator"></div>
                            <div class="mui-indicator"></div>
                            <div class="mui-indicator"></div>
                        </div>
                    </div>
                    <div class="news-content" v-for="item in news" @tap="jumpMessage(item.id)">
                        <div class="news-img" v-if="item.pic">
                            <img v-bind:src="http_url+item.pic" alt="">
                        </div>
                        <div class="news-title">
                            {{item.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/md5.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/common.js"></script>
    <script>
        mui.init({
            pullRefresh: {
                container: '#pullrefresh',
                up: {
                    contentrefresh: '正在加载...',
                    callback: pullupRefresh
                },
                down: {
                    style: 'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
                    offset: '45px',
                    callback: pullfresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                }
            }
        });

        function jumpMessage(id) {
            mui.openWindow({
                url: "newsMessage.html",
                id: "newsMessage.html",
                extras: {
                    message: id //扩展参数
                }
            })
        }
        var vm = new Vue({
            el: "#app",
            data: {
                news: [

                ],
            }
        })
        var gallery = mui('.mui-slider');
        gallery.slider({
            interval: 1000//自动轮播周期，若为0则不自动播放，默认为0；
        });
        mui.ajax(http_url + '/api.php/About/index?p=1', {
            dataType: 'json',
            type: 'get',
            timeout: 10000,
            headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/About/index'), },
            success: function (data) {
                if (data.status == 200) {
                    vm.news = data.data
                } else {
                    toast(data.message);
                }
            },
            error: function (xhr, type, errorThrown) {

            }
        });
        //上拉加载
        var page = 2;
        function pullupRefresh() {
            mui.ajax(http_url + '/api.php/About/index?p=1', {
                dataType: 'json',
                type: 'get',
                timeout: 10000,
                headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/About/index'), },
                success: function (data) {
                    if (data.status == 200) {
                        vm.news = vm.news.concat(data.data);
                        page++;
                        if (data.data.length == 0) {
                            mui('#pullrefresh').pullRefresh().disablePullupToRefresh()
                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(true)
                        } else {
                            mui('#pullrefresh').pullRefresh().endPullupToRefresh(false)
                        }
                    } else {
                        toast(data.message);
                    }
                },
                error: function (xhr, type, errorThrown) {

                }
            });
        }
        //下拉刷新
        function pullfresh() {
            mui.ajax(http_url + '/api.php/About/index?p=1', {
                dataType: 'json',
                type: 'get',
                timeout: 10000,
                headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/About/index'), },
                success: function (data) {
                    if (data.status == 200) {
                        vm.news = data.data
                        page = 2;
                        mui('#pullrefresh').pullRefresh().endPulldown(true);
                    } else {
                        toast(data.message);
                    }
                },
                error: function (xhr, type, errorThrown) {

                }
            });
        }
    </script>
</body>

</html>