<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/flexible.js"></script>
    <script src="../js/mui.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>

<body>
    <div class="action-bar-no-search">
        <div class="title-left mui-action-back">
            <div>
                <span class="mui-icon mui-icon-back">

                </span>
                <span>

                </span>
            </div>
        </div>
        <div class="title-center">
            注册
        </div>
        <div class="title-right">
            <div class="title-right-left">

            </div>
            <div class="title-right-right">

            </div>
        </div>
    </div>
    <div class="container" id="app">
        <div class="login">
            <img src="../img/login.png" alt="">
        </div>
        <!-- 用户输入区域 -->
        <div class="user-input">
            <div class="user-phone-number">
                <input v-model="phone" type="text" placeholder="请输入手机号">
            </div>
            <div class="user-phone-verfication">
                <input type="text" v-model="verificationCode" placeholder="请输入验证码">
                <div class="send-verfication">
                    <div class="send-verfication-button" @tap="countDown==60?getVerification():null">
                        {{countDown==60?'获取验证码':'重新发送('+countDown+')'}}
                    </div>
                </div>
            </div>
            <div class="user-phone-number">
                <input v-model="firstPWD" type="text" placeholder="输入密码">
            </div>
            <div class="user-phone-number">
                <input v-model="nextPWD" type="text" placeholder="请再次输入密码">
            </div>
        </div>
        <!-- 登录按钮 -->
        <div class="login-button" @tap="submit()">
            <div>
                注册
            </div>
        </div>
    </div>
    <script src="../js/md5.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/register.js"></script>
</body>

</html>