<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/flexible.js"></script>
    <script src="../js/mui.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mui.min.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link href="../css/mui.picker.css" rel="stylesheet" />
    <link href="../css/mui.poppicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/settlementPage.css">
    <title>商品结算</title>
</head>

<body>
    <div class="action-bar-no-search">
        <div class="title-left mui-action-back">
            <div>
                <span class="mui-icon mui-icon-back">

                </span>
                <span>

                </span>
            </div>
        </div>
        <div class="title-center">
            商品结算
        </div>
        <div class="title-right">
            <div class="title-right-left">
                <img src="" alt="">
            </div>
            <div class="title-right-right">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="container" id="app" style="background: #F7F5f4">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="address">
                    <div class="common">
                        <div>
                            收货人：
                        </div>
                        <input v-model="name" type="text" placeholder="请输入收货人姓名">
                    </div>
                    <div class="common" id="showCityPicker3">
                        <div>
                            所在地区：
                        </div>
                        <div class="address-city">
                            {{address}}
                        </div>
                        <div class="iconfont icon-gengduo1" style="width: 1rem;font-size:.6rem;color: #999999">

                        </div>
                    </div>
                    <div class="common">
                        <div>
                            详细地址：
                        </div>
                        <input v-model="address_detail" type="text" placeholder="请输入详细地址">
                    </div>
                    <div class="common">
                        <div>
                            手机号码：
                        </div>
                        <input type="text" v-model="phone" placeholder="请输入收货人手机号">
                    </div>
                    <!-- <div class="address-left">
                        <div class="address-name-phone">
                            <span>
                                姓名：
                            </span>
                            <span>
                                王先生
                            </span>
                            <span style="margin-left: 1rem">
                                联系方式：
                            </span>
                            <span class="telephone">
                                12345789629
                            </span>
                        </div>
                        <div class="address-location">
                            地址：
                        </div>
                    </div>
                    <div class="address-right">
                        <span class="mui-icon mui-icon-arrowright">

                        </span>
                    </div> -->
                </div>
                <div class="settlement-good" v-for="good in goods">
                    <!-- <div class="shop-name">
                        <img src="../img/userHeader.png" alt="">
                        <span style="margin-left: .5rem">阿迪达斯旗舰店</span>
                    </div> -->
                    <div class="settlement-good-message">
                        <div class="settlement-good-img">
                            <img v-bind:src="http_url+good.goods.pic" alt="">
                        </div>
                        <div class="settlement-good-name-price">
                            <div class="good-name">
                                {{good.goods.goods_name}}
                            </div>
                            <div class="good-price clearfloat">
                                <span class="float-left">￥ {{good.goods.shop_price}}
                                </span>
                                <span class="float-right">× {{good.goods_num}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="discount">
                            <div class="discount-left">
                                <p>优惠券</p>
                                <div class="usable-discount-button">
                                    (
                                    <span>0</span>)张可用
                                </div>
                            </div>
                            <div class="discount-right">
                                <span style="margin-right: .3rem;color: #666;font-size: .38rem">未使用</span>
                                <span class="mui-icon mui-icon-arrowright"></span>
                            </div>
                        </div> -->
                <div class="price-discount-message">
                    <div class="good-price">
                        <span class="float-left">
                            商品金额：
                        </span>
                        <span class="float-right">
                            ￥{{total.toFixed(2)}}
                        </span>
                    </div>
                    <!-- <div class="discount-price">
                                <span class="float-left">
                                    活动优惠金额：
                                </span>
                                <span class="float-right">
                                    0.00元
                                </span>
                            </div>
                            <div class="activity-price">
                                <span class="float-left">
                                    优惠券优惠金额：
                                </span>
                                <span class="float-right">
                                    0.00元
                                </span>
                            </div> -->
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="bottom-nav-left">
                <span>应付款</span>
                <span class="payable">￥{{total.toFixed(2)}}</span>
            </div>
            <div class="bottom-nav-right">
                去付款
            </div>

            <!-- 弹出支付方式框 -->
            <div id="popup" class="popup">
                <div class="popup-title">
                    <span>
                        万国电商钱包
                    </span>
                    <div class="close">
                        ×
                    </div>
                </div>
                <div class="popup-good-message">
                    <div class="popup-price">
                        ￥{{total.toFixed(2)}}
                    </div>
                    <!-- <div class="popup-good-name">
                        NGK铱铂金火花塞比亚迪F0F3G5S6S7M6L3 G3F6G6速锐思锐秦唐S8宋元
                    </div> -->
                </div>
                <div class="select-payment">
                    第三方支付
                </div>
                <div class="wechat">
                    <div class="wechat-icon">
                        <span class="mui-icon mui-icon-weixin" style="font-size: .8rem;color:#07B906"></span>
                        <span>微信支付</span>
                    </div>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
                <div class="alipay">
                    <div class="alipay-icon">
                        <span class="mui-icon-extra mui-icon-extra-alipay" style="font-size: .6rem"></span>
                        <span> 阿里支付</span>
                    </div>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- 遮罩层 -->
    <div id="mask">

    </div>
    <script src="../js/common.js"></script>
    <script src="../js/mui.picker.js"></script>
    <script src="../js/mui.poppicker.js"></script>
    <script src="../js/city.data-3.js"></script>
    <script src="../js/vue.min.js"></script>
    <script>
        (function ($, doc) {
            $.init();
            $.ready(function () {
                /**
                 * 获取对象属性的值
                 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
                 * @param {Object} obj 对象
                 * @param {String} param 属性名
                 */
                var _getParam = function (obj, param) {
                    return obj[param] || '';
                };
                //-----------------------------------------
                //					//级联示例
                var cityPicker3 = new $.PopPicker({
                    layer: 3
                });
                cityPicker3.setData(cityData3);
                var showCityPickerButton = doc.getElementById('showCityPicker3');
                showCityPickerButton.addEventListener('tap', function (event) {
                    cityPicker3.show(function (items) {
                        vm.address = _getParam(items[0], 'text') + " " + _getParam(items[1], 'text') + " " + _getParam(items[2], 'text');
                        vm.province = _getParam(items[0], 'text');
                        vm.city = _getParam(items[1], 'text');
                        vm.area = _getParam(items[2], 'text');
                        //返回 false 可以阻止选择框的关闭
                        //return false;
                    });
                }, false);
            });
        })(mui, document);
        var vm = new Vue({
            el: "#app",
            data: {
                goods: [],
                name: "",
                phone: "",
                address: "",
                address_detail: "",
                province: "",
                city: "",
                area: "",
                total: 0,
                goods_id: [],
                order_id: "",
            }
        })

        mui(".mui-scroll-wrapper").scroll({
            deceleration: 0.0005,
            indicators: false, //是否显示滚动条
        })
        //当前页面
        var nowPage;
        //支付通道
        var channel = null;
        mui.plusReady(function () {
            nowPage = plus.webview.currentWebview();
            console.log(JSON.stringify(nowPage));
            //获取支付商品信息
            if (nowPage.one) {
                if (nowPage.spec_ids) {
                    var data = {
                        goods_id: nowPage.goodId,
                        num: nowPage.goodNum,
                        spec_ids: nowPage.spec_ids,
                        spec_names: nowPage.spec_names
                    }
                } else {
                    var data = {
                        goods_id: nowPage.goodId,
                        num: nowPage.goodNum,
                    }
                }
                mui.ajax(http_url + "/api.php/Order/addorder?token=" + user_all_message.token, {
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    timeout: 10000,
                    success: function (data) {
                        console.log(JSON.stringify(data));
                        if (data.status == 200) {
                            vm.total = Number(data.data.total);
                            vm.goods.push(data.data);
                        } else {
                            toast(data.message);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        console.log(JSON.stringify(errorThrown));
                    }
                })
            } else {
                mui.ajax(http_url + "/api.php/User/cartpay?token=" + user_all_message.token, {
                    dataType: 'json',
                    type: 'post',
                    data: {
                        ids: nowPage.goodId,
                        nums: nowPage.goodNum
                    },
                    timeout: 10000,
                    success: function (data) {
                        if (data.status == 200) {
                            vm.goods = data.data
                            console.log(JSON.stringify(vm.goods));
                            for (var i = 0; i < vm.goods.length; i++) {
                                vm.total += Number(vm.goods[i].goods.shop_price) * vm.goods[i].goods_num;
                                vm.goods_id.push(vm.goods[i].goods_id);
                                // alert(vm.goods_id);
                            }
                        } else {
                            toast(data.message);
                        }
                    },
                    error: function (xhr, type, errorThrown) {

                    }
                })
            }
            plus.payment.getChannels(function (channels) {
                channel = channels[0];
            }, function (e) {
            });

        })

        //点击微信支付
        mui("#popup").on("tap", ".wechat", function () {
            pay("wxpay");
        })
        //点击支付宝支付
        mui("#popup").on("tap", ".alipay", function () {
            pay("alipay")
        })
        //点击关闭支付弹框
        mui("#popup").on("tap", ".close", function () {
            // popup.style.bottom = -11 + "rem";
            // mask.style.display = "none";
            mui.back();
        })
        var popup = document.getElementById("popup");
        var mask = document.getElementById("mask");
        mui(".bottom-nav").on("tap", ".bottom-nav-right", function () {
            if (!vm.name) {
                toast("请输入收货人姓名")
            } else if (!vm.address) {
                toast("请选择所在地区")
            } else if (!vm.address_detail) {
                toast("请输入详细地址")
            } else if (!reg_phone.test(vm.phone)) {
                toast("请输入正确手机号");
            } else {
                postPay()
            }

        })
        mask.addEventListener("tap", function () {
            // popup.style.bottom = -11 + "rem";
            // mask.style.display = "none";
            mui.back();
        })
        //发起支付请求
        function postPay() {
            var waiting = plus.nativeUI.showWaiting("加载中", { width: '110px', height: '110px' });
            if (nowPage.one) {
                if (nowPage.spec_ids) {
                    var data = {
                        goods_id: nowPage.goodId,
                        num: nowPage.goodNum,
                        spec_ids: nowPage.spec_ids,
                        spec_names: nowPage.spec_names,
                        truename: vm.name,
                        mobile: vm.phone,
                        province: vm.province,
                        city: vm.city,
                        area: vm.area,
                        address: vm.address_detail,
                    }
                } else {
                    var data = {
                        goods_id: nowPage.goodId,
                        num: nowPage.goodNum,
                        spec_ids: "",
                        spec_names: "",
                        truename: vm.name,
                        mobile: vm.phone,
                        province: vm.province,
                        city: vm.city,
                        area: vm.area,
                        address: vm.address_detail,
                    }
                }
                mui.ajax(http_url + "/api.php/Order/saveorder?token=" + user_all_message.token, {
                    dataType: 'json',
                    type: 'post',
                    data: {
                        goods_id: nowPage.goodId,
                        num: nowPage.goodNum,
                        spec_ids: "",
                        spec_names: "",
                        truename: vm.name,
                        mobile: vm.phone,
                        province: vm.province,
                        city: vm.city,
                        area: vm.area,
                        address: vm.address_detail,
                    },
                    timeout: 10000,
                    success: function (data) {
                        waiting.close();
                        if (data.status == 200) {
                            // vm.order_id = data.data.order_id;
                            mui.openWindow({
                                url: "payment.html",
                                id: "payment.html",
                                extras: {
                                    order_id: data.data.order_id,
                                    iscart: nowPage.one
                                }
                            })
                        } else {
                            toast(data.message);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        waiting.close();
                    }
                })
            } else {
                mui.ajax(http_url + "/api.php/User/cartsave?token=" + user_all_message.token, {
                    dataType: 'json',
                    type: 'post',
                    data: {
                        ids: nowPage.goodId,
                        nums: nowPage.goodNum,
                        truename: vm.name,
                        mobile: vm.phone,
                        province: vm.province,
                        city: vm.city,
                        area: vm.area,
                        address: vm.address_detail,
                        goods_id: 1,
                    },
                    timeout: 10000,
                    success: function (data) {
                        waiting.close();
                        if (data.status == 200) {
                            // vm.order_id = data.data.order_id;
                            mui.openWindow({
                                url: "payment.html",
                                id: "payment.html",
                                extras: {
                                    order_id: data.data.order_id,
                                    iscart: nowPage.one
                                }
                            })
                        } else {
                            toast(data.message);
                        }
                    },
                    error: function (xhr, type, errorThrown) {
                        waiting.close();
                    }
                })
            }
        }
        var ALIPAYSERVER = 'http://demo.dcloud.net.cn/helloh5/payment/alipay.php?total=';
        // var WXPAYSERVER = 'http://demo.dcloud.net.cn/helloh5/payment/wxpay.php?total=';
        var WXPAYSERVER = 'http://192.168.50.50:81/api.php/About/pay';
        //调起支付
        function pay(pay) {
            var iscart = 0;
            if (nowPage.one) {
                iscart = 0;
            } else {
                iscart = 1;
            }
            if (pay == "alipay") {
                mui.ajax(http_url + "/api.php/Order/dopay?token=" + user_all_message.token, {
                    type: 'post',
                    data: {
                        order_id: vm.order_id,
                        pay_type: pay,
                        iscart: iscart,
                    },
                    timeout: 10000,
                    success: function (res) {
                        console.log(res);
                        plus.payment.request(channel, res, function (result) {
                            plus.nativeUI.alert("支付成功！", function () {
                                back();
                            });
                        }, function (error) {
                            plus.nativeUI.alert("支付失败：" + error.code);
                        });

                    },
                    error: function (xhr, type, errorThrown) {
                        console.log(xhr)
                        console.log(type)
                        console.log(errorThrown)
                    }
                })
            } else if (pay == "wxpay") {
                mui.ajax(http_url + "/api.php/Order/dopay?token=" + user_all_message.token, {
                    dataType: 'json',
                    type: 'post',
                    data: {
                        order_id: vm.order_id,
                        pay_type: pay,
                        iscart: iscart,
                    },
                    timeout: 10000,
                    success: function (res) {
                        console.log(JSON.stringify(res));
                        plus.payment.request(channel, res, function (result) {
                            plus.nativeUI.alert("支付成功！", function () {
                                back();
                            });
                        }, function (error) {
                            plus.nativeUI.alert("支付失败：" + error.code);
                        });

                    },
                    error: function (xhr, type, errorThrown) {

                    }
                })
            } else {
                return;
            }
            // var xhr = new XMLHttpRequest();
            // xhr.onreadystatechange = function () {

            //     switch (xhr.readyState) {
            //         case 4:
            //             if (xhr.status == 200) {
            //                 console.log(JSON.stringify(xhr));

            //             } else {
            //                 alert("获取订单信息失败！");
            //             }
            //             break;
            //         default:
            //             break;
            //     }
            // }
            // xhr.open('GET', PAYSERVER);
            // xhr.send();
        }
    </script>
</body>

</html>