<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/mui.min.css" />
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper-4.2.2.min.css">
    <script src="../js/vue.min.js"></script>
    <link rel="stylesheet" href="../css/shoppingMall.css">
    <title>商城</title>
    <style>
        .mui-card .mui-control-content {
            /* padding: 10px; */
        }

        /* .refreshContainer {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 5.4rem;
        } */

        .mui-fullscreen {
            top: 3.3rem;
        }

        /* .mui-control-content {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 5.4rem;
        } */
    </style>
</head>

<body>
    <div id="container">
        <!-- 轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="img in imgs">
                    <img v-bind:src="http_url+img.pic" style="width: 10rem" alt="">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl" class=" mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <div class="mui-scroll">
                    <a class="mui-control-item mui-active" @tap="change_list(0)" href="#item1">
                        全部商品
                    </a>
                    <a class="mui-control-item"  v-cloak v-for="(item,index) in classification" @tap="change_list(index+1)" v-bind:href="'#item'+(index+2)">
                        {{item.cname}}
                    </a>
                </div>
            </div>
            <div class="mui-slider-group">
                <div id="item1" class="mui-slider-item mui-control-content mui-active">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div>
                                <div class="no-data" style="padding-top: 1rem" v-if="good1.good.length==0">
                                    <img style="width: 10rem;height: 8rem" src="../img/nocollect.png" alt="">
                                </div>
                                <div class="shopping-mall-good-list" v-if="good1.good.length!=0" v-for="item in good1.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right" v-cloak>
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 库存
                                                            <strong>
                                                                {{item.sore}}
                                                            </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item2" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good2.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                            <strong>
                                                                5468
                                                            </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item3" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good3.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                        <strong>
                                                            5468
                                                        </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="item4" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good4.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                                    <strong>
                                                                        5468
                                                                    </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="item5" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good5.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                                    <strong>
                                                                        5468
                                                                    </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/swiper-4.2.2.min.js"></script>
    <script src="../js/md5.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/mui.pullToRefresh.js"></script>
    <script src="../js/mui.pullToRefresh.material.js"></script>
    <script src="../js/shoppingmall.js"></script>
</body>

</html>