<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/mui.min.css" />
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/shoppingMall.css">
    <title>商城</title>
    <style>
        .mui-card .mui-control-content {
            /* padding: 10px; */
        }

        /* .refreshContainer {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 5.4rem;
        } */

        .mui-fullscreen {
            top: 4rem;
        }

        /* .mui-control-content {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 5.4rem;
        } */
    </style>
</head>

<body>
    <div id="container">
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../img/1.png" />
                    </a>
                </div>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/1.png" />
                    </a>
                </div>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/2.png" />
                    </a>
                </div>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/3.png" />
                    </a>
                </div>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/4.png" />
                    </a>
                </div>
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../img/4.png" />
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl" class=" mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                <div class="mui-scroll">
                    <a class="mui-control-item mui-active" @tap="change_list(0)" href="#item1">
                        全部商品
                    </a>
                    <a class="mui-control-item" v-for="(item,index) in classification" @tap="change_list(index+1)" v-bind:href="'#item'+(index+2)">
                        {{item.cname}}
                    </a>
                </div>
            </div>
            <div class="mui-slider-group">
                <div id="item1" class="mui-slider-item mui-control-content mui-active">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good1.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 库存
                                                            <strong>
                                                                {{item.sore}}
                                                            </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item2" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good2.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                            <strong>
                                                                5468
                                                            </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item3" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good3.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                        <strong>
                                                            5468
                                                        </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="item4" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good4.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                                    <strong>
                                                                        5468
                                                                    </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="item5" class="mui-slider-item mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="mui-table-view">
                                <div class="shopping-mall-good-list" v-for="item in good5.good" v-bind:id="item.goods_id" @tap="jump_to_good_detail(item.goods_id)">
                                    <div class="left">
                                        <img v-bind:src="http_url+item.pic" alt="">
                                    </div>
                                    <div class="right">
                                        <div class="right-top">
                                            {{item.goods_name}}
                                        </div>
                                        <div class="center">
                                            ￥{{item.shop_price}}
                                        </div>
                                        <div class="right-bottom clearfloat">
                                            <div class="float-left">
                                                <!-- 成交量
                                                                    <strong>
                                                                        5468
                                                                    </strong> -->
                                            </div>
                                            <div class="float-right buy-now">
                                                立即购买
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/md5.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/mui.pullToRefresh.js"></script>
    <script src="../js/mui.pullToRefresh.material.js"></script>
    <script>
        (function ($) {
            //阻尼系数
            $.ready(function () {
                //循环初始化所有下拉刷新，上拉加载。
                $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                    $(pullRefreshEl).pullToRefresh({
                        up: {
                            callback: pull_up_refresh
                        }
                    });
                });
            });
        })(mui);
        var vm = new Vue({
            el: "#container",
            data: {
                good1: { good: [], page: 2 },
                good2: { good: [], page: 2 },
                good3: { good: [], page: 2 },
                good4: { good: [], page: 2 },
                good5: { good: [], page: 2 },
                classification: [],
            }
        })
        var deceleration = mui.os.ios ? 0.003 : 0.0009;
        mui('.mui-scroll-wrapper').scroll({
            bounce: false,
            indicators: true, //是否显示滚动条
            deceleration: deceleration
        });
        //第一次获取数据
        mui.ajax(http_url + '/api.php/Mall/index?p=1&cat_id=0', {
            dataType: 'json',
            type: 'get',
            timeout: 10000,
            headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/Mall/index'), },
            success: function (data) {
                nowId = 0;
                vm.good1.good = data.data.list;
                nowSelectClass = vm.good1;
                vm.classification = data.data.cat_list;
            },
            error: function (xhr, type, errorThrown) {

            }
        });

        mui.plusReady(function () {

        })
        // mui(".mui-scroll-wrapper").scroll({
        //     deceleration: 0.0005
        // })
        var gallery = mui(".mui-slider");
        gallery.slider({
            interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
        });
        var slid_list = mui("#slider");
        slid_list.slider({
            interval: 0,
        })
        function change_list(index) {
            slid_list.slider().gotoItem(index);
            if (index == 0) {
                get_goods(1, 0);
            } else {
                get_goods(index, vm.classification[index - 1].id)
            }
        }
        mui(".shopping-mall-good-list").on("tap", ".buy-now", function () {
            mui.openWindow({
                url: "goodDetail.html",
                id: "goodDetail.html"
            })
        })

        // slider监听
        document.querySelector('#slider').addEventListener('slide', function (event) {
            var num = event.detail.slideNumber;
            if (num > 0) {
                get_goods(num + 1, vm.classification[num - 1].id);
            } else {
                get_goods(1, 0)
            }
        });
        var nowId = 1;    //当前id
        var nowData = 1;    //当前数据
        function get_goods(index, id) {
            var goods = [];
            nowId = id;
            nowData = index;
            switch (index) {
                case 1:
                    goods = vm.good1.good;
                    break;
                case 2:
                    goods = vm.good2.good;
                    break;
                case 3:
                    goods = vm.good3.good;
                    break;
                case 4:
                    goods = vm.good4.good;
                    break;
                case 5:
                    goods = vm.good5.good;
                    break;
            }
            if (goods.length >= 1) {
                return
            }
            mui.ajax(http_url + '/api.php/Mall/index?p=1&cat_id=' + id, {
                dataType: 'json',
                type: 'get',
                timeout: 10000,
                headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/Mall/index'), },
                success: function (data) {
                    switch (index) {
                        case 1:
                            vm.good1.good = data.data.list;
                            nowSelectClass = vm.good1;
                            break;
                        case 2:
                            vm.good2.good = data.data.list;
                            nowSelectClass = vm.good2;
                            break;
                        case 3:
                            vm.good3.good = data.data.list;
                            nowSelectClass = vm.good3;
                            break;
                        case 4:
                            vm.good4.good = data.data.list;
                            nowSelectClass = vm.good4;
                            break;
                        case 5:
                            vm.good5.good = data.data.list;
                            nowSelectClass = vm.good5;
                            break;
                    }

                },
                error: function (xhr, type, errorThrown) {

                }
            });
        }
        var goodDetailPage;
        //跳转到商品详情页
        function jump_to_good_detail(ids) {
            mui.openWindow({
                url: "goodDetail.html",
                id: "goodDetail.html",
                extras: {
                    good_id: ids,
                }
            })

        };
        var page = 2;
        var nowSelectClass;                 //当前选择的商品分类
        function pull_up_refresh() {
            var self = this;
            mui.ajax(http_url + '/api.php/Mall/index?p=' + nowSelectClass.page + '&cat_id=' + nowId, {
                dataType: 'json',
                type: 'get',
                timeout: 10000,
                headers: { 'Content-Type': 'application/json', "apitoken": c('/api.php/Mall/index'), },
                success: function (data) {
                    if (data.data.list.length > 0) {
                        switch (nowData) {
                            case 1:
                                vm.good1.good = vm.good1.good.concat(data.data.list);
                                vm.good1.page++;
                                break;
                            case 2:
                                vm.good2.good = vm.good2.good.concat(data.data.list);
                                vm.good2.page++;
                                break;
                            case 3:
                                vm.good3.good = vm.good2.good.concat(data.data.list);
                                vm.good3.page++;
                                break;
                            case 4:
                                vm.good4.good = vm.good4.good.concat(data.data.list);
                                vm.good4.page++;
                                break;
                            case 5:
                                vm.good5.good = vm.good5.good.concat(data.data.list);
                                vm.good5.page++;
                                break;
                        }
                        self.endPullUpToRefresh(false);
                    } else {
                        self.endPullUpToRefresh(true)
                    }
                },
                error: function (xhr, type, errorThrown) {

                }
            })
        }
    </script>
</body>

</html>