<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/shoppingCart.css">
    <script src="../js/flexible.js"></script>
    <script src="../js/mui.min.js"></script>
    <title>购物车</title>
</head>

<body>
    <div class="action-bar-no-search">
        <div class="title-left mui-action-back">
            <div>
                <span class="mui-icon mui-icon-back">

                </span>
                <span>

                </span>
            </div>
        </div>
        <div class="title-center">
            购物车
        </div>
        <div class="title-right" style="visibility: visible">
            <div class="title-right-left">

            </div>
            <div class="title-right-right">
                <span>编辑</span>
            </div>
        </div>
    </div>
    <!-- <div class="container" id="app" style="background-color: #F9F4F4"> -->
    <!-- 顶部操作栏 -->
    <div class="container" style="background-color: #efefef" id="app">
        <div class="mui-scroll-wrapper" id="refreshContainer">
            <div class="mui-scroll">
                <div>
                    <div class="no-data" v-if="goods.length==0">
                        <img src="../img/nocollect.png" alt="">
                    </div>
                    <div class="every-last-good" v-for="good in goods">
                        <!-- <div class="shop-name">
                                                <img class="select-shop" src="../img/selectFalse.png" alt="">
                                                <span>*******旗舰店</span>
                                                <img src="../img/right-black.png" alt="">
                                            </div> -->
                        <div class="good-message">
                            <div class="select-good"  @tap="select_goods($event,good.id,good.goods_num,good)">
                                <img class="noedit" src="../img/selectFalse.png" alt="">
                            </div>
                            <div class="left">
                                <img v-bind:src="http_url+good.pic" alt="">
                            </div>
                            <div class="right float-left">
                                <div class="right-top">
                                    <div class="right-top-left">
                                        {{good.goods_name}}
                                    </div>
                                    <!-- <div class="right-top-right">
                                        <img v-bind:src="http_url+good.goods.pic" alt="">
                                    </div> -->
                                </div>
                                <!-- <div class="right-center">
                                                    <span>颜色：铂金；型号：F70（30)</span>
                                                </div> -->
                                <div class="right-bottom">
                                    <span>{{good.integral_status==1?good.shop_price+'现金 + '+good.integral+'.00积分':good.shop_price}}
                                    </span>
                                    <!-- <del>￥125.45</del> -->
                                    <span class="float-right">x {{good.goods_num}}
                                    </span>
                                </div>
                                <div class="buy-number">
                                    <!-- <div class="mui-icon mui-icon-plusempty" @tap="add_num(good)">

                                    </div>
                                   
                                    <div  @tap="remove_num(good)">
                                        <span>
                                            ﹣
                                        </span>
                                    </div> -->
                                    <div class="number">
                                        <div class="add" @tap="add_num(good)">
                                            <span class="mui-icon mui-icon-plusempty">

                                            </span>
                                        </div>
                                        <input v-bind:value="good.goods_num" disabled="disabled" class="buy-number-input" type="text">
                                        <div class="remove" @tap="remove_num(good)">
                                            <span>
                                                ﹣
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="bottom-nav-left">
                <img id="select-all" src="../img/selectFalse.png" alt="">
                <span v-if="!edit">合计:</span>
                <span v-if="!edit" class="payable">{{total.toFixed(2)+'现金 '+integral.toFixed(2)+'积分'}}</span>
            </div>
            <div class="bottom-nav-right" v-if="!edit" @tap="payfor()">
                去付款
            </div>
            <div class="bottom-nav-right" v-if="edit" @tap="delect_good()">
                删除
            </div>
        </div>
    </div>
    <script src="../js/md5.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/shoppingCart.js"></script>
</body>

</html>